@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Arvo&display=swap');

#content {
  max-width: 960px;
  margin: 0 auto;
}

body {
    background-color: #f2f4f3;
    color: #694A38;
    margin: 3em;
    padding: 1em;
   }

nav li {
    display: inline-block;
    padding: 3em;
}

nav a:hover {
    background-color: white;
}

a {
    color: #CC3363;
   }

.sec2 {
    background-color: #7ebdc0;
}

main {
  font-family: 'Arvo', serif;
  font-size: 15px;
  margin: 3em;
}
  
header, footer {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    padding: .5px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #7EBDC3;
    color: #CC3363;
    border-radius: 15px;
    margin: 1em 0;
   }  

.profilepic {
    width: 250px;
    border-radius: 10px;
    float: right;
    box-shadow: 0px 0px 3px white;
    border: 2px;
    height: auto;
    top: 10px;
  }