@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Arvo&display=swap');

#content {
  max-width: 960px;
  margin: 0 auto;
  width: 95%;
}

body {
    background-color: #f2f4f3;
    color: #694A38;
    margin: 3em;
    padding: 15px 15px;
    text-align: center;
   }

nav li {
    display: inline-block;
}

nav a:hover {
    background-color: white;
    border-radius: 5px;
    padding: 2em;
}

a {
    color: #CC3363;
   }

.sec2 {
    background-color: #7ebdc0;
    border-radius: 15px;
    padding: 15px 15px;
}

main {
  font-family: 'Arvo', serif;
  font-size: 15px;
  margin: 3em;
}
  
header, footer {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    padding: .5px;
    text-align: center;
    background-color: #7EBDC3;
    color: #CC3363;
    border-radius: 15px;
   }  

img {
    width: 300px;
    border-radius: 10px;
    border: 2px;
    margin: 10px 10px 10px 10px;
    place-items: center;
    border: gray;
    border-style: solid;
  }