@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Arvo');

#content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #f2f4f3;
}

body {
    background-color: #f2f4f3;
    color: #694A38;
    margin: 3em;
   }

a {
    color: #CC3363;
   }

footer a {
  color: #f2f4f3;
}
  
header, footer {
    font-family: 'Architects Daughter', sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: left;
    background-color: #7EBDC3;
    color: #f2f4f3;
   }  

.profilepic {
    width: 250px;
    border-radius: 5px;
    float: right;
    box-shadow: 0px 0px 3px red;
    position: relative;
    border: 2px;
    top: 10px;
    left: 10px;
  }