#content {
  max-width: 960px;
  margin: 0 auto;
  background-color: #f2f4f3;
}

body {
    background-color: #f2f4f3;
   }

h1, h2 {
    color: #005bb7;
    text-align: center;
    padding: 10px;
    font-family: 'Luckiest Guy', Gadget, sans-serif;
    font-size: 2em;
    line-height: 1em;
  }

p {
    padding: 10px;
    color: #040404;
    font-family: 'Didact Gothic', Helvetica, sans-serif;
    font-size: 1.35em;
    line-height: 1.5em;
  }
  
header, footer {
    padding: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
   }  
   
nav {
    background-color: #040404;
    padding: 1em;
    margin-top: -208px;
  }

#profilepic {
    width: 250px;
    border-radius: 5px;
    float: right;
    box-shadow: 3px 3px 3px black;
    position: relative;
    border: 2px #440144;
    top: 10px;
    left: 10px;
  }